/* YouTube */
body[data-initial-hide="true"] #contents.ytd-rich-grid-renderer,
body[data-initial-hide="true"] .ytp-endscreen-content,
body[data-initial-hide="true"] .ytp-ce-element,
body[data-initial-hide="true"] #page-manager > ytd-shorts,
body[data-initial-hide="true"] #related {
    display: none !important;
}

/* Facebook */
body[data-initial-hide="true"] div[role="main"] > div > div > div > div > div > div > div > div {
    display: none !important;
}

/* Instagram */
body[data-initial-hide="true"] div[role="menu"],
body[data-initial-hide="true"] main[role="main"] > div > div {
    display: none !important;
}

/* Twitter */
body[data-initial-hide="true"] [data-testid="primaryColumn"] [data-testid="cellInnerDiv"],
body[data-initial-hide="true"] [data-testid="sidebarColumn"] > div > div:not(:first-child) {
    display: none !important;
}

/* TikTok */
body[data-initial-hide="true"] #main-content-homepage_hot,
body[data-initial-hide="true"] #main-content-explore_page,
body[data-initial-hide="true"] #tiktok-live-main-container-id {
    display: none !important;
}